.advantages {
	min-height: 590px;
	padding: 57px 0 51px 0;
	background-color: #f3f3f3;
	&__wrapper {
		margin-top: 30px;
		display: flex;
		align-items:center;
		justify-content: space-between;
		flex-wrap:wrap;
	}

	&__block {
		width: 488px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 33px;
	}

	&__descr{
		height: 62px;
		width: 409px;
		justify-content: space-between;
	}
	&__subtitle {
		margin: 0;
		font-size: 16px;
		line-height: 22px;
		font-weight: 700;
		color: $main-color;
	}
	&__text {
		margin: 4px 0 0 0;
		font-size: 14px;
		font-weight: 300;
		color: #3a3a3a;
		line-height: 20px;
	}

	&__img {
		width: 60px;
		height:60px;
		img {
			width: 100%;
		}
	}
}

