.title {
	font-size: 26px;
	line-height: 23px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #2e2e2e;
<<<<<<< Updated upstream
}
=======
	&_white {
		color: white;
		margin-top: 20px;
	}
	&_firstScreen {
		margin: 26px 0 0 0;
		text-align: center;
		font-family: "Roboto Condensed";
		font-size: 72px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: $main-color;
	}

	&__main {
		margin: 10px auto 0 auto;
		text-align: center;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 300;
		color: #fff;	
	}

	&__description {
	margin: 18px auto 0 auto;
	font-size: 21px;
	line-height: 24px;
	font-weight: 300;
	color: #2e2e2e;
	text-align: center;
		&_white {
			margin: 22px auto 0 auto;
			color: white;
			font-size: 19px;	
			line-height: 27px;
		}
		&_firstScreen {
		text-align: center;
		margin: 10px 0 0 0;
		font-family: "Roboto Condensed";
		font-size: 42px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		}
	}

	&__line {
		width: 148px;
		height: 1px;
		background-color: $main-color;
		margin: 20px auto 0 auto;
		}
}


>>>>>>> Stashed changes
