@media (max-width: 1200px){
<<<<<<< Updated upstream
	.container{
		max-width: 960px;
	}
=======
>>>>>>> Stashed changes
	.advantages {
		&__block {
			width: 480px;
		}

		&__text {
			font-size: 13px;
		}
	}
}

@media (max-width: 992px){
<<<<<<< Updated upstream
	.container{
		max-width: 720px;
	}

=======
>>>>>>> Stashed changes
	.advantages {
		&__block {
			width: 356px;
		}

		&__text {
			font-size: 11px;
			line-height: 16px;
		}

		&__subtitle {
			font-size: 15px;
		}
		
		&__descr {
			width: 280px;
		}
	}
}

@media (max-width: 768px){
<<<<<<< Updated upstream
	.container{
		max-width: 540px;
	}

=======
>>>>>>> Stashed changes
	.advantages {
		&__wrapper{
			flex-direction: column;			
		}
		&__block {
			width: 475px;
			justify-content: space-around;
			margin-bottom:20px;
			align-items: start;
		}

		&__descr {
			width: 393px;
			height: auto;
		}

		&__text {
			width: 100%;
		}
<<<<<<< Updated upstream

=======
<<<<<<< HEAD
=======

>>>>>>> main
>>>>>>> Stashed changes
	}
}

@media (max-width:576px){
<<<<<<< Updated upstream
    .container{
        max-width:100%;
    }
=======
>>>>>>> Stashed changes
    .advantages {	
    	&__block {
    		display: flex;
    		width: 300px;
    		flex-direction: column;
    		align-items: center;
    	}

	    &__descr {
		width: auto;
		text-align: center;
		}

		&__subtitle {
    	font-size: 15px;
    	margin-top: 5px;
    	}
    	&__text {
    	font-size: 13px;
<<<<<<< Updated upstream
    	}
    	.title {
    		font-size: 	24px;
    	}

    }       

=======
<<<<<<< HEAD
=======
    	}
    	.title {
    		font-size: 	24px;
>>>>>>> main
    	}
    }      
>>>>>>> Stashed changes
}