@media (max-width: 1200px){
	.container{
		max-width: 960px;
	}

	.promo {
		&__descr-first {
			font-size: 57px;
		}
		&__descr-second {
			font-size: 35px;
		}
	 	&__text {
		font-size: 14px;
		}
		.divider {
		width: 645px;
			&__line {
			width: 310px;
			}
		}
		.header {
			.btn {
				width: 145px;
			}
			.nav {
				width: 500px;
			&__link	{
				font-size: 13px;
				padding-right: 9px;
				}	
			}
			.header__text {
				font-size: 13px;
			}
		}
	}			
}


@media (max-width: 992px){
	.container{
		max-width: 720px;
	}
	
	.promo {
		h1 {
		font-size: 20px;
		}
		&__text {
		font-size: 11px;
		line-height: 16px;
		margin: 8px 0 0 0;
		}
		&__img {
		width: 50px;
		height: 50px;
		}
		&__descr-first {
		font-size: 50px;
		}
		&__descr-second {
		font-size: 30px;
		}
		.divider {	
		width: 489px;
			&__line {
			width: 233px;
			}
		}
		.header {
			.btn {
				width: 125px;
			}
			.nav {
				width: 360px;
				&__link {
					font-size: 10px;
					padding-right: 5px;
				}
			}
			.header__tel {
				font-size: 14px;
			}
		}	
	}			
}

@media (max-width: 768px){
	.container{
		max-width: 540px;
	}
	.promo {	
		padding-top: 50px;
		nav {
			display: none;
		}
		&__descr-first {
			font-size: 43px;
		}
		&__descr-second {
			font-size: 26px;
		}
		.hamburger {
		display: flex;
		}
		.divider {
		width: 360px;
			&__line {
			width: 169px;
			}
		}
		.header {
		.btn {
			width: 160px;
		}
		&__contacts {
			&__tel {
				font-size: 19px;
				}	
			}
		}	
	}
	
}

@media (max-width:576px){
    .container{
        max-width:100%;
    }

    .promo {
    	h1 {
    		text-align: center;
    	}
    	&__descr-first {
    		text-align: center;
    		font-size: 30px;
    	}
    	&__descr-second {
    		text-align: center;
    		font-size: 22px;
    	}
    	&__activities {
    		flex-direction: column;
    		align-items: center;
    		width: auto;
    	}
    	&__activity {
    		margin-bottom: 20px;
    		width: 300px;
    	}
    	&__text {
    		margin-top: 10px;
    		font-size: 13px;
    	}
	    	.divider {		
	    	width: 276px;
			&__line {
				width: 127px;
			}
	    }
    	.header {
    		justify-content: space-around;
    		.header__logo {
			width: 75px;
			height: 75px;
			img {
				width: 100%;
			}
		}
			&__contacts {
					&__text {
		    	font-size: 13px;
		    	}
	    		&__tel {
	    		font-size: 14px;
	    		}
			}
			.btn {
				width: 120px;
				font-size: 10px;
			}
    	}
    }
}
